<!DOCTYPE html>
<html lang="es"
      x-data="{ darkMode: localStorage.getItem('darkMode') === 'true' }"
      x-init="$watch('darkMode', val => {
          document.documentElement.setAttribute('data-bs-theme', val ? 'dark' : 'light');
          localStorage.setItem('darkMode', val);
      })"
      :data-bs-theme="darkMode ? 'dark' : 'light'"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="{{@SCHEME.'://'. @HOST .':'. @PORT.'/'}}">
    
    <title>{{ @SITIO.titulo }}</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ @SITIO.favicon }}" />


    <script src="recursos/js/vendor/alpine-mask.min.js" defer></script> 
    <script src="recursos/js/vendor/alpinejs.min.js" defer></script>


<!-- assets-head -->   

<style>
  html {
    transition: background-color 0.5s ease;
  }
  .switch-lg .form-check-input {
    width: 3rem;
    height: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  .switch-lg .form-check-input:checked {
    background-color: #0d6efd;
  }
  .switch-lg label {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
</style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm border-bottom border-body sticky-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <i class="bi bi-book"></i> El Catalogo / Bienvenid@ {{ ucfirst(@SESSION.usuario.nickname) }}
                </a>
                <span class="navbar-text">
                    <a class="btn" href="/privado/salir" role="button">salir</a>
                    
                </span>  
            </div>        
        </nav>
    </div>
    <div>
        <include href="components/lightsComp.html" />
    </div>
    <div class="row">
        <div class="col-2">

            <ul class="nav flex-column">
                <repeat group="{{ @items_menu }}" key="{{ @titulo }}" value="{{ @item }}">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ @item.url }}" data-ajax><i class="bi {{ @item.icono }}"></i> {{ @titulo }}</a>
                    </li>
                </repeat>
            </ul>
            <!--
            'logout' => array('url'=>'/privado/salir','icono'=>'bi-box-arrow-left')
            -->

        </div>

        <div class="col">

            
            <div id="contenido" class="container" name="contenido" style="margin-top: 15px;">
                {{ @contenido | raw }}
            </div>

        </div>

    </div>  
    


    <!-- assets-footer -->

    
</body>
</html>

