<!DOCTYPE html>
<html lang="es"
      x-data="{ darkMode: localStorage.getItem('darkMode') === 'true' }"
      x-init="$watch('darkMode', val => {
          document.documentElement.setAttribute('data-bs-theme', val ? 'dark' : 'light');
          localStorage.setItem('darkMode', val);
      })"
      :data-bs-theme="darkMode ? 'dark' : 'light'"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="{{@SCHEME.'://'. @HOST .':'. @PORT.'/'}}">
    
    <title>{{ @SITIO.titulo }}</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ @SITIO.favicon }}" />

    <link rel="stylesheet" href="css/animate.min.css">
    
    <script src="js/vendor/alpine-mask.min.js" defer></script> 
    <script src="js/vendor/alpinejs.min.js" defer></script>


<!-- assets-head -->   

<style>
  html {
    transition: background-color 0.5s ease;
  }
  .switch-lg .form-check-input {
    width: 3rem;
    height: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  .switch-lg .form-check-input:checked {
    background-color: #0d6efd;
  }
  .switch-lg label {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
</style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm border-bottom border-body sticky-top" data-bs-theme="dark">
            <div class="container-fluid">
               <include href="frontend/templates/logo.html" />
               
                <span class="navbar-text">
                    <a class="btn" href="/privado/salir" role="button">salir</a>
                    
                </span>  
            </div>        
        </nav>
    </div>
    <div>
        <include href="components/lightsComp.html" />
    </div>

    <div class="d-flex flex-nowrap h-100">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary toggled" style="width: 170px;">
            <title>aqui la foto del user</title>
            <check if="{{ strlen(@SESSION.usuario.fotoPerfilLocation) == 0 }}">
                <true>
                    <svg class="bd-placeholder-img img-thumbnail" width="90" height="90" role="img" aria-label="Aqui va foto!" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="25%" y="50%" fill="#dee2e6" dy=".3em">90x90</text>
                    </svg>
                </true>
                <false>
                    <img src="{{ 'uploads/profile/'. @SESSION.usuario.fotoPerfilLocation }}" width="90" height="90" style="width: 7rem;" />
                </false>
            </check>

            <ul class="nav flex-column mb-auto">
                <repeat group="{{ @items_menu }}" key="{{ @titulo }}" value="{{ @item }}">
                    <li class="nav-item click"><a class="nav-link" href="{{ @item.url }}"><i class="bi {{ @item.icono }}"></i> {{ @titulo }}</a></li>
                </repeat>
            </ul>

            
        </div>
        
        <div id="contenido" class="container" name="contenido" style="margin-top: 15px;">
            {{ @vista | raw }}
        </div>

            
    </div>

    <!-- assets-footer -->

    
</body>
</html>

