<nav class="navbar bg-blue-logo footer-navbar text-bronze gea-footer fixed-bottom" data-bs-theme="dark">
    <div class="container-fluid d-flex flex-column">
        
        <!-- Row 1: Información general -->
        <div class="row w-100 py-4 small">
            <div class="col-md-4 col-12">
                <div class="row">
                    <div class="col">
                        <img
                            src=""
                            class="img-fluid" 
                            style="max-width: 450px; width: 100%; height: auto;" 
                            alt="Logo"
                        />
                        
                    </div>
                </div>
                <p><a href="https://wa.me/560123456789"><span class="bi bi-whatsapp"></span> +56 1 2345 6789</a></p>
                <p>Mail: <a href="mailto:"><i class="bi bi-envelope"></i> </a></p>
            </div>
            <div class="col-md-2 col-6">
                <h5>algo</h5>
                <ul class="list-unstyled">
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5>algo mas</h5>
            </div>
            <div class="col-md-3 col-12">
                <h5>por si acaso</h5>
                <p></p>
            </div>
        </div>

        <!-- Row 2: Redes sociales -->
        <div class="row w-100" name="rrss">
            <div class="col text-end">
                <i class="bi bi-instagram" title="pronto"></i>&nbsp;
                <i class="bi bi-facebook" title="pronto"></i>&nbsp;
                <i class="bi bi-twitter-x" title="pronto"></i>&nbsp;
                <i class="bi bi-youtube" title="pronto"></i>
            </div>
        </div>

        <!-- Row 3: Marca al centro -->
        <div class="row w-100">
            <div class="col text-center">
                <p class="mb-2 mt-3">&copy; {{@SITIO.nombre}} {{ date('Y') }}</p>
            </div>
        </div>

    </div>
</nav>