
<div id="filtros">
    
</div>


<div id="tarjetas" class="py-4">
    <include href="frontend/templates/tarjetas_contenido.html" />
</div>



<style>
#tags .btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#tags .btn:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

/* Estilos personalizados para el modal */
.modal-content {
    background-color: #1e1e1e !important; /* Fondo oscuro */
    color: #8e0fc9 !important; /* Texto claro */
}

.modal-header, .modal-footer {
    background-color: #2a2a2a !important; /* Fondo más oscuro para el header y footer */
    border-color: #444 !important; /* Bordes oscuros */
}

.modal-body {
    background-color: #1e1e1e !important; /* Fondo oscuro */
    color: #8e0fc9 !important; /* Texto claro */
}

</style>