
<div id="filtros">
    <div id="regiones" class="container">
        <form id="filtrar-form">
            <div class="row">
                <div class="col-auto">
                    <select class="form-select form-select-sm" aria-label="Regiones" id="region" name="region">
                        <option selected>Todas</option>
                        <repeat group="{{ @filtro.regiones }}" value="{{ @region }}" >
                            <option value="{{ @region }}">{{ @region }}</option>	
                        </repeat>
                    </select>
                </div>

                <div class="col-auto" >
                    <select class="form-select form-select-sm" aria-label="Regiones" name="ciudad" id="ciudades">
                        <option selected>Todas</option>
                        <repeat group="{{ @filtro.ciudades }}" value="{{ @ciudad }}" >
                            <option value="{{ @ciudad.city }}">{{ @ciudad.city }}</option>	
                        </repeat>
                    </select>
                </div>
            </div>
        </form>	
    </div>
    <br>
    <div id="tags" class="container" name="filtros">
        <h5 class="tc-heading mb-3">Filtros</h5>
        <exclude>
            <div class="container">
                <div class="btn-group btn-group-sm" role="group">
                    <repeat group="{{ @filtro.tags }}" value="{{ @valor }}">
                        <button class="btn btn-outline-secondary tag" data-bs-toggle="button" id="{{ @valor['idTag'] }}">{{ @valor['tag'] }}</button>
                    </repeat>
                </div>  

            </div>
        </exclude>


        <div>
            <repeat group="{{ @filtro.tags }}" value="{{ @valor }}">
                <button class="btn btn-outline-secondary btn-sm tag px-2" data-bs-toggle="button" id="{{ @valor['idTag'] }}">{{ @valor['tag'] }}</button>
            </repeat>
        </div>  

    </div>
</div>


<div id="tarjetas" class="py-4">
    <include href="frontend/templates/tarjetas_contenido.html" />
</div>



<style>
#tags .btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#tags .btn:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

/* Estilos personalizados para el modal */
.modal-content {
    background-color: #1e1e1e !important; /* Fondo oscuro */
    color: #8e0fc9 !important; /* Texto claro */
}

.modal-header, .modal-footer {
    background-color: #2a2a2a !important; /* Fondo más oscuro para el header y footer */
    border-color: #444 !important; /* Bordes oscuros */
}

.modal-body {
    background-color: #1e1e1e !important; /* Fondo oscuro */
    color: #8e0fc9 !important; /* Texto claro */
}

</style>