
<div x-data="logo()" x-bind:class="clase"  x-on:mouseover="animate">
    <a class="navbar-brand"  href="/" >
        <img x-ref="logoImg" src="/img/IMG-20250826-WA0001_2.png" alt="" style="height: 30px;" /><span> {{ @SITIO.nombre }} {{ isset(@saludo)? @saludo : '' }}</span>
    </a>
</div>

<script>
    function logo() {
        return {
            clase: "",
            init() {
                console.log('Alpine.js inicializado')
            },
            animate() {
                this.clase= "animate__animated animate__rubberBand";
                setTimeout(() => {
                    this.clase = "";
                }, 1000);
            }
        }
    }
</script>