<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a 
            class="navbar-brand"
            href="/"
            x-data="{ rebota: false }"
            @mouseenter="rebota = true; setTimeout(() => rebota = false, 500)"
            :class="{ 'bounce': rebota }"
            >
            <i class="bi bi-book"></i> {{ @SITIO.nombre }} {{ @saludo }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion" aria-controls="barraNavegacion" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barraNavegacion">
            <ul class="navbar-nav">
                <repeat group="{{ @items_menu }}" key="{{ @titulo }}" value="{{ @item }}">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ @item.url }}" ><i class="bi {{ @item.icono }}"></i> {{ @titulo }}</a>
                    </li>
                </repeat>
            </ul>
        </div>
    </div>
</nav>