

<div class="col-md-10 offset-md-1" >
  <div class="container text-center">
    <h5 class="fw-light custom-nickname">{{ strtoupper(@perfil.nickname).' Portafolio' }}</h5>
    <div class="row">
      <div class="col">
        <div id="carrusel" class="py-2">
          {{ @carrusel | raw }}
        </div>
        <div>
          <h3 class="lead py-1"><em>{{ @perfil.descripcion }}</em></h3>
          <a href="/whatsapp/{{ @perfil.idUser }}" target="_blank" class="btn btn-success" role="button">
            <i class="bi bi-whatsapp"></i> Enviar WhatsApp
          </a>
        </div>

      </div>
    </div>
  </div>


  <div class="container py-3" >
    <input type="hidden" x-ref="idUserDestino" value="{{ @perfil.idUser }}">
    <div class="row">
      <div class="col">
        <div id="lista">
          {{ @lista_comentarios | raw}}
        </div>
      </div>
    </div>
  </div>
</div>
 


